<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="CCUModelLog" switchValue="All">
        <listeners>
          <add name="CCUModelConsole" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="CCUModelLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="ccumodel.log" />
        </listeners>
      </source>
      <source name="ThreePhaseSharpLib" switchName="ThreePhaseSharpLibSwitch">
        <listeners>
          <add name="ThreePhaseSharpLibConsole" type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
          </add>
          <add name="ThreePhaseSharpLibLogFile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener"
               initializeData="{ApplicationName}-{DateTime:yyyy-MM-dd}.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="ThreePhaseSharpLibSwitch" value="All" />
    </switches>  
   </system.diagnostics>
</configuration>