<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <system.diagnostics>    
    <sources>      
      <source name="ThreePhaseSharpLibLog" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="threephasesharplib.log"/>
        </listeners>
      </source>      
    </sources>   
  </system.diagnostics> 
</configuration>